.App{
    display: flex;
}
.products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.shopping-cart{
    width: 20%;
}
.product-card{
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin:2px;
}

.add-to-cart-btn{
    
}
.product-card .prod-name{
    font-size: 15px;
    font-weight: bold;
}
.cart-btns{
    margin: 2px;
    padding: 2px;;
}
.quantity{
    width: 5px;
}